<div [appGoCrazy]="setCrazyTimes()" class='product-container' [ngClass]="setClasses()">
  <h2>Product component</h2>
  <ul>
    <li>Name: {{product.name}}</li>
    <li>Description: {{product.description}}</li>
    <li>Price: {{product.price}}$</li>
    <li>Category: {{product.category}}</li>
    <li>Available: {{product.isAvailable}}</li>
  </ul>
  <label>Amount:
    <input type="number" #productAmount value="1" min="1" max="100" step="1"
           [disabled]="!product.isAvailable"
    >
  </label>
  <button
    [disabled]="!product.isAvailable"
    (click)="onBuy()"
  >Buy
  </button>
</div>
