<h2>CartList component</h2>
<div *ngIf="!cartService.isEmpty(); else emptyMsg">
  <ul>
    <li *ngFor="let cartItem of cartItems">
      <app-cart-item
        [appHighlight]="color"
        [cartItem]="cartItem"
        (removeItem)="onRemoveCartItem($event)"
        (increaseItemAmount)="onIncreaseCartItemAmount($event)"
        (reduceItemAmount)="onReduceCartItemAmount($event)"
      ></app-cart-item>
    </li>
  </ul>
  <button type="button" (click)="onRemoveAll()">Remove all</button>
  <p>Total price: {{cartService.getTotalSum()}}$</p>
  <p>Total amount: {{cartService.getTotalQuantity()}}</p>
</div>
<ng-template #emptyMsg>
  <h3>Cart is empty!</h3>
</ng-template>
