* {
  box-sizing: border-box;
}

button,
input[type="number"],
input[type="text"] {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 4.5rem;
  padding: 0.5rem;
  margin: 5px 2px;
  border: 1px solid #000000;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #000000;
  outline: none;
  cursor: pointer;
}

input[type="number"],
input[type="text"] {
  text-align: left;
  padding-right: 0.5rem;
  cursor: default;
}

input[type="number"]:hover,
input[type="text"]:hover {
  border-color: darkred;
}

button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

button:disabled,
button:disabled:hover,
input[type="number"]:disabled {
  border-color: #808080;
  color: #808080;
  background-color: #FFFFFF;
  cursor: default;
}

.crazy {
  background-color: #000000;
  color: #FFFFFF;
}
