button {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  border: 2px solid #000000;
  border-radius: 6px;
  background-color: #FFFFFF;
  margin: 5px 0;
  color: #000000;
}

button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

button:disabled,
button:disabled:hover {
  border-color: #808080;
  color: #808080;
  background-color: #FFFFFF;
}
