<div *ngIf="!cartService.isEmpty() && cartItems; else emptyMsg">
  <div class="cart-order">
    <label for="order">Choose order:</label>
    <select id="order" #orderValue (change)="onOrderChange($event)">
      <option disabled>Order by:</option>
      <option selected value="product,name">Name</option>
      <option value="product,price">Price</option>
      <option value="amount">Amount</option>
    </select>
  </div>
  <ul>
    <li *ngFor="let cartItem of cartItems | orderBy:orderValue.value">
      <app-cart-item
        [appHighlight]="color"
        [cartItem]="cartItem"
        (removeItem)="onRemoveCartItem($event)"
        (increaseItemAmount)="onIncreaseCartItemAmount($event)"
        (reduceItemAmount)="onReduceCartItemAmount($event)"
      ></app-cart-item>
    </li>
  </ul>
  <p>Total price: {{cartService.getTotalSum() | currency:'USD':'symbol':'3.0-2'}}</p>
  <p>Total amount: {{cartService.getTotalQuantity()}}</p>
  <button type="button" (click)="onRemoveAll()">Remove all</button>
  <button type="button" (click)="onMakeOrder()">Make order</button>
</div>
<ng-template #emptyMsg>
  <h3>Cart is empty!</h3>
</ng-template>
